.Stat-Section-Wrapper {
  background-color: #ffc412;
}

.Stat-Section-Wrapper figure img {
  margin-top: 20%;
  width: 30%;
}

.Stat-Section-Wrapper .Count {
  color: #fff;
  font-size: 25px;
  margin: 30px;
}

.Stat-Section-Wrapper .Count-Title {
font-size: 18px;
}

